*.jl.*.cov
*.jl.cov
*.jl.mem
*.rej
.DS_Store
.benchmarkci
Manifest.toml
benchmark/*.json
coverage
docs/build/
env
node_modules
data
notebooks
_research
plots
Manifest.toml
test/Manifest.toml
docs/Manifest.toml
